
/* font-family: 'Dancing Script', cursive;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Source+Sans+Pro:wght@300&display=swap');


#content {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #ECF6FF;
    margin: 0;
}

/*Heading content*/
.heart {
    margin-left: 43.5%;
}



/*.design {
    margin-left: 10%;
    height: 40%;
    width: 80%;
}*/

.design {
    position: relative;
    width: 65%;
    margin-top: -0%;
    left: 20%;
}

#header-content {
    max-width: 100%;
background-color: #d9c2a3;
}

nav {
    display: flex;
    font-family: abhaya;
    transition: transform .5s;
}

nav a {
    letter-spacing: 10px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    color: black;
    text-decoration: none; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 17.5%;
}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: black;
    margin: auto;
    display: block;
}

nav a:hover::after {
    width: 100%;
    transform: width 0.5s linear;}



/*Introduction*/

div .header-first {
    letter-spacing: 3px;
    opacity:0.8;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 15px;
    color: black;
    top: 38%;
    margin-left: 36%;
}

div .header-second {   
    letter-spacing: 3px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 60px;
    color: black;
    margin-top: -1%;
    margin-left: 26%
}

div .header-third {
    letter-spacing: 3px;
    opacity:0.8;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 15px;
    color: black;
    margin-top: -2%;
    margin-left: 41%;
}

.parent-line {
    position: relative;
}

.date-line::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: -3.1%;
    left: 31%;
    opacity: .6;
}

.date-line::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: -3.1%;
    left: 58.5%;
    opacity: .6;
}

div .header-fourth {
    letter-spacing: 3px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    color: black;
    margin-left: 39.5%;
}

.prenup {
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 4%;
    width: 90%;
    height: 100%;
}

/*SECONDARY*/
div .ourstory {
    margin-top: 7%;
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

div .story-msg {
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif; 
}

.prophet {
    position: relative;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif; 
    left: 38%;
}

.ashlee {
    margin-left: 5%;
    padding-top: 3%;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    text-align: left;
}

.ashlee_story {
    letter-spacing: 1.5px;
    margin-left: 10%;
    margin-right: 30%;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;

}

#check-ashlee { 
    display: none;
    text-decoration: underline;
}

#check-ashlee:checked ~ .ashlee-content{
    display: block;
}

#check-ashlee:checked ~ label{
    visibility: hidden;
}

#check-ashlee:checked ~ label:after {
    content: 'Show Less';
    display: block;
    visibility: visible;
}

.ashlee-content {
    display: none;
    transition: 0.5s linear;    
}

#check-harold {
    display: none;
}

#check-harold:checked ~ .harold-content{
    display: block;
}

#check-harold:checked ~ label{
    visibility: hidden;
}

#check-harold:checked ~ label:after {
    content: 'Show Less';
    display: block;
    visibility: visible;
}

.harold-content {
    display: none;
    transition: 0.5s linear;  
}

label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 70px;
    cursor: pointer;
    font-weight: 600 ;
}


.circle_photo {
    text-align: center;
}


.flower-parent {
    position: relative;
}

.left-flower {
    height: 30%;
    width: 30%;
    position: absolute;
    top: 35%;
    left: 0%;
}

.right-flower {
    height: 30%;
    width: 30%;
    position: absolute;
    top: 35%;
    left: 70%;
}

.our_photo {
    width: 60%;
}

.our_photo:hover {
    opacity: .9;
    transform: scale(1.1);
}

.harold {
    margin-right: 5%;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    text-align: right;
}

.harold_story {
    letter-spacing: 1.5px;
    margin-right: 10%;
    margin-left: 30%;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;
}

.firstmeet {
    height: 100%;
    width: 100%;
}


div .testimony {
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

.testimony-symbol {
    height: 70px;
    position: relative;
    left: 38%;
    top: 83px;
}

div .our_testimony {
    letter-spacing: 1.5px;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    transition: transform .5s;
}

.our_testimony:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #d9c2a3;
}

.quote {    
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    border: black solid 5px;
    width: 80%;
    margin-top: -6%;
    margin-left: 10%;
    padding-bottom: 5px;
    font-size: 40px;
    text-align: center; 
}

div .quote-sign {
    position: relative;
    width: 15%;
    text-align: center;
    left: 43%;
}

div .president {
    font-size: 30px;
}

.date {
    font-size: 20px;
}

.quote-line::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: -10.1%;
    left: 23%;
    opacity: .6;
}

.quote-line::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    margin-top: -10.1%;
    left: 70%;
    opacity: .6;
}

.courting {
    width: 40%;
    margin-top: 2%;
    border-radius: 50%;
    position: relative;
    left: 31%;
    transition: transform .5s;
}

.courting:hover {
    transform: scale(1.1);
}

.boquet-img {
    text-align: center;
}

.boquet {
    width: 60%;
    height: 60%;
}

.gift-msg {
    letter-spacing: .5px;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    margin: 10px;
    padding: 3px;
    transition: transform .5s;
    position: relative;}

.gift-msg:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #d9c2a3;
}

.gift-photo {
    position: relative;
}

.gcash {
    position: absolute;
    margin-top: -70px;
    margin-left: 75px;
}

.bdo {
    position: absolute;
    margin-left: 75px;
    margin-top: -70px;
}

.ub {
    position: absolute;
    margin-top: -70px;
    margin-left: 75px;
}

.gift-msg-name {
    margin-top: -3%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}

.gift-msg-date {
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    margin-top: -3%;
}

/*Footer content*/
#footer-content {
    max-width: 100%;
    margin: 0 auto;
}

footer {
   background-color: #d9c2a3;
   display: flex;
}

footer a {
    color: black;
    position: static;
    letter-spacing: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20%;
    margin-left: 1.5%;
    transition: transform .5s;
}

.footer-title {
    font-size: 20px;
    margin-left: 43%;
}

footer  a:hover {
    transform: scale(1.1);
}

/*PHOTOS*/
.soon {
    width: 80%;
    height: 80%;
    box-shadow: 5px 5px 10px gray;
    margin-top: 2%;
}

/*GIFTS*/
.gifts-courting {
    width: 30%;
}
@media all and (max-width: 900px) {
    #content {
        max-width: 1000px;
        margin: 0 auto;
    }
        
    body {
        background-color: #ECF6FF;
        margin: 0;
    }
    
    /*Heading content*/
    .design {
        margin-left: 5%;
        height: 80%;
        width: 120%;
    }

    
    nav {
        display: flex;
        font-family: 'Ibarra Real Nova', serif;
        transition: transform .5s;
        text-align: center;
    }
    
    nav a {
        letter-spacing: 10px;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 30px;
        color: black;
        text-decoration: none; 
        padding-bottom: 50px;
        margin-left: 18%;
    }
    
    nav a:hover {
        color: violet;
        transform: scale(1.1);
    }
    
    /*Introduction*/

    .intro {
        margin-left: 10%;
    }
    
    div .header-first {
        letter-spacing: 3px;
        opacity:0.8;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 22px;
        color: black;
        top: 38%;
        margin-left: 13%;
        margin-right: -53%;
        text-align: center;
    }
    
    div .header-second {   
        position: relative;
        letter-spacing: 3px;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 73px;
        color: black;
        margin-top: -1%;
        margin-left: 35%;
        margin-right: -30%;
        text-align: center;

    }
    
    div .header-third {
        text-align:center;
        letter-spacing: 3px;
        opacity:0.8;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 15px;
        color: black;
        margin-top: -2%;
        margin-left: 15%;
        margin-right: -50%;
    }
    
    .parent-line {
        position: relative;
    }
    
    .date-line::before {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-top: -8.5%;
        left: 35%;
        opacity: .6;
    }
    
    .date-line::after {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-top: -8.5%;
        left: 107%;
        opacity: .6;
    }
    
    div .header-fourth {
        letter-spacing: 2px;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 20px;
        color: black;
        margin-left: 59%;
        margin-right: -50%;
    }
    
    .prenup {
        border-radius: 20px;
        margin-left: 13%;
        width: 130%;
        height: 130%;
        box-shadow: 5px 10px 10px rgb(56, 55, 55);
        border: 10px solid #d9c2a3;    transition: transform .5s;
    }
    
    /*SECONDARY*/
   
    div .ourstory {
        margin-top: 17%;
        margin-left: 40%;
        margin-right: -90px;
        font-size: 50px;
        font-family: 'Ibarra Real Nova', serif;
        text-align: center;
    }
    
    div .story-msg {
        letter-spacing: 1.5px;
        text-align: center;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif; 
        margin-left: 5%;
        margin-right: -50%;
    }

    .prophet {
        text-align: center;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif; 
        margin-left: -35%;
        margin-right: -45px;
    }

    .story-intro {
        text-align: center;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif; 
        margin-left: 13%;
        margin-right: -30%;
    }
    
    .ashlee {
        margin-left: 5%;
        padding-top: 3%;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 30px;
        text-align: left;
    }
    
    .ashlee_story {
        margin-left: 10%;
        margin-right: -30%;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif;
        text-align: left;
    }
    
    #check-ashlee { 
        display: none;
        text-decoration: underline;
    }
    
    #check-ashlee:checked ~ .ashlee-content{
        display: block;
    }
    
    #check-ashlee:checked ~ label{
        visibility: hidden;
    }
    
    #check-ashlee:checked ~ label:after {
        content: 'Show Less';
        display: block;
        visibility: visible;
    }
    
    .ashlee-content {
        display: none;
        transition: 0.5s linear;    
    }
    
    #check-harold {
        display: none;
    }
    
    #check-harold:checked ~ .harold-content{
        display: block;
    }
    
    #check-harold:checked ~ label{
        visibility: hidden;
    }
    
    #check-harold:checked ~ label:after {
        content: 'Show Less';
        display: block;
        visibility: visible;
    }
    
    .harold-content {
        display: none;
        transition: 0.5s linear;  
    }
    
    label {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 70px;
        cursor: pointer;
        font-weight: 600 ;
    }
    
    
    .circle_photo {
        text-align: center;
    }
    
    .flower-parent {
        position: relative;
    }
    
    .space {
        position: absolute;
        top: 55%;
        left: 135%;
    }

    .left-flower {
        position: absolute;
        top: 35%;
        left: 128%;
    }
    
    .right-flower {
        position: absolute;
        top: 35%;
        left: 10%;
    }
    
    .our_photo {
        width: 100%;
        margin-left: 27%;
    }
    
    .our_photo:hover {
        opacity: .9;
        transform: scale(1.1);
    }
    
    .harold {
        margin-right: -40%;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 30px;
        text-align: right;
    }
    
    .harold_story {
        margin-left: 10%;
        margin-right: -30%;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif;
        text-align: left;
    }
    
    .firstmeet {
        height: 100%;
        width: 100%;
    }
    
    
    div .testimony {
        font-size: 50px;
        font-family: 'Ibarra Real Nova', serif;
        text-align: center;
        margin-left: 40%;
        margin-right: -25%;
    }
    
    .testimony-symbol {
        height: 100px;
        position: relative;
        left: 38%;
        top: 83px;
    }
    
    div .our_testimony {
        text-align: left;
        margin-left: 10%;
        margin-right: -50%;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif;
        transition: transform .5s;
    }
    
    .our_testimony:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 10px #6f7364;
        background-color: #d9c2a3;
    }
    
    .quote {    
        font-family: 'Ibarra Real Nova', serif;
        color: black;
        border: black solid 5px;
        width: 80%;
        margin-top: 20%;
        margin-left: 38%;
        padding-bottom: 5px;
        font-size: 40px;
        text-align: center; 
    }

    .quote-sign-parent {
        position: absolute;
    }
    
    div .quote-sign {
        position: relative;
        width: 40%;
        margin-top: 2%;
        margin-left: 18%;
    }
    
    div .president {
        font-size: 30px;
    }
    
    .date {
        font-size: 20px;
    }
    
    .quote-line::before {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-top: -10.9%;
        left: 55%;
        opacity: .6;
    }
    
    .quote-line::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: black;
        position: absolute;
        margin-top: -10.9%;
        left: 91%;
        opacity: .6;
    }
    
    .courting {
        width: 50%;
        margin-top: 2%;
        border-radius: 50%;
        position: relative;
        left: 58%;
        transition: transform .5s;
    }
    
    .courting:hover {
        transform: scale(1.1);
    }
    
    .boquet-img {
        text-align: center;
    }
    
    .boquet {
        width: 100%;
        height: 100%;
        margin-left: 30%;
        box-shadow: 5px 10px 10px black;
        border: 2px solid #d9c2a3;    transition: transform .5s;
    }
    
    .gift-msg {
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif;
        text-align: center;
        margin-left: 35px;
        margin-right: -210px;
        padding: 3px;
        transition: transform .5s;
        position: relative;}
    
    .gift-msg:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 10px #6f7364;
        background-color: #d9c2a3;
    }
    
    .gift-photo {
        position: relative;
    }
    
    .gcash {
        position: absolute;
        margin-top: -78px;
        margin-left: 75px;
    }
    
    .bdo {
        position: absolute;
        margin-left: 75px;
        margin-top: -78px;
    }
    
    .ub {
        position: absolute;
        margin-top: -78px;
        margin-left: 75px;
    }
    
    .gift-msg-name {
        margin-top: -3%;
        margin-left: 10%;
        margin-right: -50%;
        text-align: center;
        letter-spacing: 3px;
        font-size: 30px;
    }
    
    .gift-msg-date {
        text-align: center;
        font-family: 'Ibarra Real Nova', serif;
        margin-top: -3%;
        margin-left: 60%;
    }
    
    /*Footer content*/
    #footer-content {
        max-width: 100%;
        margin: 0 auto;
    }
    
    footer {
       display: flex;
    }
    
    footer a {
        color: black;
        position: static;
        letter-spacing: 10px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Ibarra Real Nova', serif;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20%;
        margin-left: 1.5%;
        transition: transform .5s;
    }

    .footer-title {
        font-size: 20px;
        margin-left: 45%;
        margin-right: -50%;
    }

    /*PHOTOS*/
    .soon {
    width: 100%;
    box-shadow: 5px 5px 10px gray;
    margin-left: 30%;
    margin-bottom: 10%;
}

    /*GIFTS*/
    .gifts-courting {
    width: 50%;
}   
    
}