
/* font-family: 'Dancing Script', cursive;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Ibarra+Real+Nova&family=Source+Sans+Pro:wght@300&display=swap');


#content {
    max-width: 1000px;
    margin: 0 auto;
    border: solid black 2.5px;
}

body {
    background-color: white;
    margin: 0;
}

/*Heading content*/
.heart {
    margin-left: 43.5%;
}

.design {
    margin-left: -30%;
    height: 80%;
    width: 80%;
}

nav {
    display: flex;
    font-family: 'Ibarra Real Nova', serif;
}

nav a {
    letter-spacing: 10px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    color: black;
    text-decoration: none; 
    padding-top: 400px;
    padding-bottom: 50px;
    margin-left: 17.5%;
}

nav a:hover {
    color: violet;
}

/*Introduction*/

div .header-first {
    letter-spacing: 3px;
    opacity:0.8;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 15px;
    color: black;
    position: absolute;
    top: 38%;
    left: 41.5%;
}

div .header-second {   
    position: fixed;
    letter-spacing: 3px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 60px;
    color: black;
    position: absolute;
    top: 40%;
    left: 36%
}

div .header-third {
    letter-spacing: 3px;
    opacity:0.8;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 15px;
    color: black;
    position: absolute;
    top: 58%;
    left: 45%;
}

div .header-third:before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: -100px;
    top: 50%;
}

div .header-third::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 175px;
    top: 50%;
}

div .header-fourth {
    letter-spacing: 3px;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 64%;
    left: 44.1%;
}

.prenup {
    border-radius: 20px;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    box-shadow: 10px 15px 15px black;
    border: 10px solid #d9c2a3;    transition: transform .5s;
}

/*SECONDARY*/
.flower {
    position: relative;
    left: 48%;
    top: 350px;
}

div .ourstory {
    padding-top: 10%;
    font-size: 100px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

div .story-msg {
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif; 
}

.ashlee {
    margin-left: 5%;
    padding-top: 3%;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 60px;
    text-align: left;
}

.ashlee_story {
    margin-left: 10%;
    margin-right: 30%;
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;
}


#check-ashlee { 
    display: none;
    text-decoration: underline;
}

#check-ashlee:checked ~ .ashlee-content{
    display: block;
}

.ashlee-content {
    display: none;
    transition: 0.5s linear;    
}

#check-harold {
    display: none;
}

#check-harold:checked ~ .harold-content{
    display: block;
}

.harold-content {
    display: none;
    transition: 0.5s linear;  
}

label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 70px;
    cursor: pointer;
    font-weight: 600 ;
}


.circle_photo {
    text-align: center;
}

.quote {
    background-color: rgb(96, 96, 187);
    border-radius: 5%;
    font-family: 'Ibarra Real Nova', serif;
    color: black;
    border: black solid 8px;
    width: 80%;
    margin-top: -3%;
    margin-left: 10%;
    padding-bottom: 5px;
    font-size: 100px;
    text-align: center; 
}

div .quote-sign {
    text-align: center;
}

div .president {
    font-size: 70px;
}

div .date {
    font-size: 40px;
}

div .quote:before {
    content: "";
    display: block;
    width: 500px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 322%;
    left: 32%;
}

div .quote:after {
    content: "";
    display: block;
    width: 500px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 322%;
    left: 59%;
}

.our_photo {
    width: 50%;
    height: 50%;
    box-shadow: 5px 10px 10px black;
    border: 10px solid #d9c2a3;    transition: transform .5s;
}

.harold {
    margin-right: 5%;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 60px;
    text-align: right;
}

.harold_story {
    margin-right: 10%;
    margin-left: 30%;
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: left;
}


div .testimony {
    font-size: 100px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

.testimony-symbol {
    position: relative;
    left: 49%;
    top: 120px;
}

div .our_testimony {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

.boquet-img {
    text-align: center;
}

.boquet {
    width: 60%;
    height: 60%;
    box-shadow: 5px 10px 10px black;
    border: 10px solid #d9c2a3;    transition: transform .5s;
}


div .line {
    background-color: black;
}

.gift-msg {
    font-size: 50px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

.gift-msg-name {
    margin-top: -3%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80px;
}

.gift-msg-date {
    font-size: 50px;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    margin-top: -3%;
}

/*Footer content*/
#footer-content {
    max-width: 3000px;
    margin: 0 auto;
}

footer {
    font-size: 50px;
    background-color: black;
    font-family: 'Ibarra Real Nova', serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-title {
    color: white;
}

footer .social img {
    padding-top: 15px;
}


footer h3 a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {

}